{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h3 class="display-3">Features of our service.</h3>
    <p class="lead">Our E-commerce Sentiment Analyzer. The automation of the system reduces the complexity and efforts, improves performance of the system, save our time and money. My system will have the following advantages:</p>

    <ol>
        <li>User friendly interface.</li>
        <li>Less error.</li>
        <li>More efficient & speed.</li>
        <li>Easy to understand graph and data visualization.</li>
        <li>All the manual difficulties in calculation has been rectified.</li>
        <li>It provides “better and efficient” service for user.</li>
        <li>Reduce effort to gather information.</li>
        <li>Faster retrieval of information about user need.</li>
        <li>Provides facility for analyzing Bangla comments as well.</li>
        <li>All details will be available on a click.</li>
    </ol>

</div>

{% endblock %}
